<%-include('cabecalho.ejs')%>
<form>
    <label for="codigo">Código</label>
    <input type="text" name="codigo" id="codigo"><br>
    <label for="cliente">Apostador</label>
    <input type="text" name="cliente" id="cliente"></input>
    <label for="formiga">Formiga</label>
    <input type="text" name="formiga" id="formiga"><br>
    <label for="data">Data</label>
    <input type="date" name="data" id="data"><br>
    <label for="valor">Valor da Aposta</label>
    <input type="text" name="valor" id="valor"><br>
    <label for="odd">ODD</label>
    <input type="text" name="odd" id="odd"><br>
    <input type="submit" value="Adicionar">
</form>
<%-include('rodape.ejs')%>