<%-include('cabecalho.ejs')%>
<label method="post" enctype="multipart/form-data">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required placeholder="Digite o nome da formiga: "><br>
    <label for="post" enctype="raca">Raça</label>
    <input type="text" name="raca" id="raca" required placeholder="Digite a raça da formiga: "><br>
    <input for="desempenho">Desempenho</label>
    <input type="submit" value="Adicionar">
</form>
<%-include('rodape.ejs')%>