<%-include('cabecalho.ejs')%>
<title>SALA 01</title>
<form>
    <label for="formiga">Selecione a Formiga</label>
    <select name="formiga" id="formiga">
        <option value="formiga1">Formiga 1</option>
        <option value="formiga2">Formiga 2</option>
        <option value="formiga3">Formiga 3</option>
    </select>
    <label for="valordeaposta">Valor que deseja apostar</label>
    <input type="number" name="valordeaposta" id="valordeaposta" required placeholder="Informe o valor que deseja apostar"><br>
    <label for="valorganhedo"></label>
    <input type="submit" value="Apostar">
</form>
<%-include('rodape.ejs')%>