<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Apostas de corridas de formigas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body class="container">
    <div class="row">
        <div class="col">
            <h1>Sistema de Apostas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <ul>
                <h2>Sala disponíveis</h2>
                <li><a href="/sala1">Sala 01</a></li>
                <li><a href="/sala2">Sala 02</a></li>
                <li><a href="/sala3">Sala 03</a></li>
                <h2>Lista de Formigas</h2>
                <li><a href="/lstformiga">Lista de Formigas</a></li>
            </ul>
        </div>
        <div class="col-8">
<title>SALA 01</title>
<form>
    <label for="formiga">Selecione a Formiga</label>
    <select name="formiga" id="formiga">
        <option value="formiga1">Formiga 1</option>
        <option value="formiga2">Formiga 2</option>
        <option value="formiga3">Formiga 3</option>
    </select>
    <label for="valordeaposta">Valor que deseja apostar</label>
    <input type="number" name="valordeaposta" id="valordeaposta" required placeholder="Informe o valor que deseja apostar"><br>
    <label for="valorganhedo"></label>
    <input type="submit" value="Apostar">
</form>
<ul>

</ul>
<%-include('rodape.ejs')%>